@font-face {
  font-family: "Pixel";
  src: url("../fonts/Pixel.ttf");
}

div.content-flappy {
  position: relative;
  display: flex;
  width: 50%;
  height: 80%;
  background-color: skyblue;
  border: 2px solid blue;
  overflow: hidden;
}

.bird {
  position: absolute;
  width: 8%;
  height: 8%;
  /* bottom: 300px; */
}

h1.title {
  color: white;
}

.pair-barriers {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barrier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barrier .pipe {
  height: 200px;
  width: 110px;
  background-color: green;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.barrier .border {
  height: 30px;
  width: 130px;
  border: 2px solid black;
  background-color: green;
}

.progress {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-family: Pixel;
  font-size: 50px;
  z-index: 100;
}

.content-flappy .option-board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  left: 30%;
  top: 40%;
  background-color: rgb(30, 30, 85);
  overflow: hidden;
}
.option-board .option-title {
  position: relative;
  left: 10%;
  font-family: Pixel;
  width: 100%;
  height: 20%;
  font-size: 50px;
  color: white;
  padding-left: 5%;
}

.option-board .start-game {
  display: flex;
  height: 10%;
  background-color: green;
  margin: 5%;
  font-family: Pixel;
  font-size: 30px;
  color: white;
  border-radius: 10%;
}
